* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

main {
  background-image: url("/img/sfondo2.jpg");
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cards {
  padding-top: 25px;
  padding-bottom: 25px;
  display: flex;
  flex-wrap: wrap;
  min-height: 90%;
  align-items: center;
  width: 75%;
  margin: 0 auto;
  justify-content: center;
  border-radius: 5px;
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
}
.cards .card {
  width: 200px;
  text-transform: capitalize;
  height: 250px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.cards .card .details {
  width: 180px;
  font-size: 0.9em;
  margin-bottom: 10px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
}
.cards .card .details span {
  height: 50px;
  display: block;
}
.cards .card .details a {
  padding: 8px 10px;
  background-color: #F5BF5F;
  color: #fff;
  border-radius: 5px;
  color: #000;
  margin-top: 20px;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 0px 4px 0px, rgba(0, 0, 0, 0.08) 0px 8px 16px 0px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}
.cards .card .details a:hover {
  opacity: 0.9;
}
.cards .card a {
  color: inherit;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 0.8em;
}
.cards .card a img {
  width: 180px;
  border-radius: 5px;
  height: 180px;
}
.cards .card a img:hover {
  opacity: 0.5;
}
.cards .create {
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  color: #fff;
  color: inherit;
  text-decoration: none;
}
.cards .create span {
  padding: 8px 10px;
  background-color: #455C86;
  color: #fff;
  border-radius: 5px;
}

.space {
  height: 80px;
  display: flex;
  align-items: center;
}
.space .home {
  padding: 8px 12px;
  background-color: #74C9B6;
  border-radius: 5px;
  margin-left: 20px;
  text-decoration: none;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 0px 4px 0px, rgba(0, 0, 0, 0.08) 0px 8px 16px 0px;
  color: #000;
  font-weight: 600;
}
.space .home:hover {
  opacity: 0.9;
  background-color: green;
}

.card-single {
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
  width: 75%;
  margin: 0 auto;
  border-radius: 5px;
  display: flex;
  color: #000;
}
.card-single img {
  width: 25%;
}
.card-single .details-single {
  width: 75%;
  padding: 30px;
}

.buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  color: #fff;
}
.buttons .edit {
  color: inherit;
  text-decoration: none;
  background-color: #F6B964;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 0px 4px 0px, rgba(0, 0, 0, 0.08) 0px 8px 16px 0px;
  padding: 8px 12px;
  border-radius: 5px;
  margin-right: 10px;
  font-weight: 600;
  color: #000;
}
.buttons .edit:hover {
  opacity: 0.9;
}
.buttons .delete {
  background-color: #FC6880;
  border: 0;
  padding: 8px 10px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 0px 4px 0px, rgba(0, 0, 0, 0.08) 0px 8px 16px 0px;
  margin-left: 10px;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  color: #000;
}
.buttons .delete:hover {
  background-color: red;
}

.spacee {
  height: 200px;
  display: flex;
  align-items: center;
}
.spacee .home {
  padding: 8px 12px;
  background-color: #74C9B6;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 0px 4px 0px, rgba(0, 0, 0, 0.08) 0px 8px 16px 0px;
  margin-left: 20px;
  border-radius: 5px;
  color: #000;
  text-decoration: none;
  font-weight: 600;
}
.spacee .home:hover {
  opacity: 0.9;
  background-color: green;
}

.card-form {
  width: 75%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  height: 500px;
}
.card-form .form {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 600px;
}
.card-form .form input {
  padding: 8px 12px;
  background: linear-gradient(to right bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3));
  color: #fff;
  border-radius: 5px;
  border: 0;
  border: 3px solid #fff;
}